<!doctype html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<h1>BMI App</h1>
<body>
	<form method="POST" action="/">
		<label for="weight">Weight:</label><br>
		<input type="text" name="weight"><br>
		<label for="height">Height:</label><br>
		<input type="text" name="height"><br><br>
		<input type="submit" value="Submit">
	</form>
	<br>
	{% if bmi %}
	<p>
		{% print("Your BMI is {}.".format(bmi)) %}
	</p>
	{% endif %}
</body>



